body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* INÍCIO DO HEADER */

header {
    background: #E0E0E0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.menu-icon div {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    margin-right: 22px;
}

.menu-dropdown ul {
    display: none;
    list-style-type: none;
    background-color: #333;
    font-size: 16px;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 20px 0px;
}

.menu-dropdown ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    text-align: right;
    margin: 7px 0;
    height: 32px;
    padding: 0px 20px;
}

.menu-dropdown ul li:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

img#logo {
    width: 30px;
    height: 27.63px;
    margin-left: 22px;
}

h1 {
    padding: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
/* FIM DO HEADER */

h3.nova-transacao {
    display: none;
}

.container {
    margin: 26px 20px;
    max-width: 1100px;
}

form {
    padding-bottom: 20px;
    border-bottom: 1px solid #979797;
}

form div {
    padding-bottom: 10px;
    width: 100%;
}

#erroMercadoria, #erroValor, #erroTransacao {
    padding: 0;
    font-size: 14px;
    color: red;
}

#msgErro {
    text-align: center;
    color: #ff0000;
    display: none;
    width: 100%;
    padding: 0;
} 

#msgSucesso {
    text-align: center;
    color: #00bb00;
    padding: 3px;
    display: none;
    padding: 0;
}

#transacao, #mercadoria, #valor {
    margin: 0;
    width: 100%;
    padding: 0;
    color: #888888;
    font-size: 14px;
    line-height: 22px;
}

#transacao {
    height: 32px;
}

#mercadoria, #valor {
    height: 30px;
}

.submit {
    background: #333333;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    padding: 3px;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.extratos {
    margin: 0;
    align-content: space-between;
}

.table {
    height: 50vh;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 16px;
}

table tr th, table tr td {
    padding: 7px;
}

.tr-border {
    text-align: left;
    border-bottom: 1px solid #979797;
}

.tr-right {
    text-align: right;
}

.tr-left {
    text-align: left;
}

.tr-fim {
    text-align: center;
}

.tr-borda-dupla {
    border-top: 1px solid #979797;
}

.linha-borda {
    border-bottom: 1px solid #979797;
}

.lucro {
    text-align: right;
    font-size: 10px;
    line-height: 22px;
    margin: 0;
    padding-right: 10px;
}

h3 {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

footer {
    border-bottom: 8px solid #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* DROPDOWN MOBILE E TABLET */

@media (max-width: 1100px) {
    .menu-link:hover {
        color: #333;
    }
    
    .menu-dropdown ul li:hover {
        background-color: #c4c4c4;
        color: #333;
    }
    
    .menu-dropdown:hover ul {
        display: block;
    }
    
}

/* MEDIA TABLET */

@media (min-width: 768px) {
    .menu-dropdown ul {
        width: 32.8%;
    }
    
    .box-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #979797;
        border-radius: 5px;
    }

    form {
        padding: 0;
    }
    
    h3.nova-transacao {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    div.formulario {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }

    div.item {
        width: 25%;
    }
    
    div.item-maior {
        width: 40%;
        padding: 0 20px;
    }

    .submit {
        width: 30%;
        margin: 0 15px 20px 20px;
        float: right;
    }
    
}

/* MEDIA DESKTOP */

@media (min-width: 1112px) {
    header {
        height: 80px;
    }

    h1 {
        flex-grow: 1;
        padding-left: 20px;
        margin: 19px 0;
    }
    
    .menu-dropdown ul {
        display: flex;
        align-items: center;
        background-color: #fff;
        margin: 20px;
        height: 40px;
        padding: 0;
        white-space: nowrap;
        width: fit-content;
    }

    .menu-dropdown ul li:nth-child(2) {
        border-right: 1px solid #979797;
    }

    .menu-dropdown ul li:nth-child(3) {
        border-right: 1px solid #979797;
    }

    .menu-link {
        text-decoration: none;
        color: #333;
        text-align: center;
    }

    .menu-dropdown ul li:nth-child(1) {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    .box-input {
        margin: 26px 20px;
    }

    .extratos {
        flex-grow: 1;
    }

    div.formulario {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    div.item, div.item-maior, div.botao-transacao {
        width: 90%;
        padding: 20px 15px 0 15px;
    }

    form {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit {
        margin: 0;
        width: 92%;
        margin-bottom: 20px;

    }
}
