body {
    font-family: Lato, Verdana;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin: 0;
}

header {
    background: #E0E0E0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

img#logo {
    padding-left: 15px;
}

nav .dropdown {
    width: 40px;
    height: 36.84px;
    left: 0px;
    top: 22px;
    padding-inline: 30px;
}

.botao-menu {
    background-color: #E0E0E0;
    color: black;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 0px;
}

.botao-menu:hover {
        background-color: #333333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.itens-menu {
    display: none;
    background-color: #333333;
    min-width: 200px;
}

.itens-menu a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
}

.dropdown:hover .itens-menu {
    display: block;
}

h1 {
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #333333;
}

section {
    display: flex;
    flex-direction: column;
}

section div {
    margin: auto;
    padding: 5px;
    width: 50%;
}

div .extratos {
    margin: auto;
    padding: 5px;
    width: 50%;
    
}


h3 {
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
   
}

.submit {
    background: #333333;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
}
