body {
    font-family: 'Lato', sans-serif;
    margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* INÍCIO DO HEADER */

header {
    background: #E0E0E0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	align-items:center;
}

.menu-icon div {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    margin-right: 22px;
}

.menu-dropdown ul {
    display: none;
    list-style-type: none;
    background-color: #333;
    font-size: 16px;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 20px 0px;
}

.menu-dropdown ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    text-align: right;
    margin: 7px 0;
    height: 32px;
    padding: 0px 20px;
}

.menu-dropdown ul li:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.menu-dropdown:hover ul {
    display: block;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

.menu-link:hover {
    color: #333;
}

.menu-dropdown ul li:hover {
    background-color: #c4c4c4;
    color: #333;
}

img#logo {
    width: 30px;
    height: 27.63px;
    margin-left: 22px;
}

h1 {
    padding-left: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
/* FIM DO HEADER */

h3.nova-transacao {
    display: none;
}

.container {
    margin: 26px 20px;
}

form {
    border-bottom: 1px solid #979797;
}

form div {
    padding-bottom: 20px;
    width: 100%;
}

#transacao, #mercadoria, #valor {
    margin: 0;
    width: 100%;
    padding: 0;
    color: #888888;
    font-size: 14px;
    line-height: 22px;
}

#transacao {
    height: 32px;
}

#mercadoria, #valor {
    height: 30px;
}

.submit {
    background: #333333;
    color: white;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    padding: 3px;
    font-size: 14px;
    line-height: 22px;
}

.extratos {
    margin: 0;
    align-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 16px;
}

table tr th, table tr td {
    padding: 7px;
}

.tr-border {
    text-align: left;
    border-bottom: 1px solid #979797;
}

.tr-right {
    text-align: right;
}

.tr-left {
    text-align: left;
}

.tr-fim {
    text-align: center;
}

.tr-borda-dupla {
    border-top: 1px solid #979797;

}

.linha-borda {
    border-bottom: 1px solid #979797;
}

.lucro {
    text-align: right;
    font-size: 10px;
    line-height: 22px;
    margin: 0;
    padding-right: 10px;
}

h3 {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

footer {
    border-bottom: 8px solid #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}
